*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
   height: 100%;
   width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns:200px 200px;
    grid-template-rows: 200px 200px;
    justify-content: space-between;
    align-content: space-between;
}


.elem{
  height: 200px;
  width: 200px;
  background-color: deeppink;
  border: 2px solid black;
}
