@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Regular.ttf) format(truetype);
}
@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url(../fonts/NeueHaasDisplayLight.ttf) format(truetype);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Neue Haas Grotesk Display Pro';
}

html,body{
    height: 100%;
    width: 100%;;
}

#main{
    height: 100%;
    width: 100%;
    /* background-color: grey; */
    display: flex;
    align-items: flex-end;
    padding: 0px 80px;
    padding-top: 150px;
}

#left{
    height: 100%;
    width: 48%;
    /* background-color: darkgoldenrod; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
}

#left h1{
    font-size: 8vw;
    font-weight: 200;
    line-height: 7vw;
}

#bottom-left{
    /* height: 40%; */
    width: 100%;
    /* background-color: darkgreen;    */
}

#color{
    /* background-color: aqua; */
    width: fit-content;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    border-radius: 50px;
    border: 1px solid black;
}
#color h5{
    font-size: 1vw;
    margin-right: 16px;
}
#color1{
    height: 15px;
    width: 15px;
    background-color: darkred;
    border-radius: 50%;
}
#color2{
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 50%;
}
#bottom-left h2{
    margin-top: 70px;
    margin-bottom: 10px;
    font-weight: 800;
}

#bottom-left p{
    width: 50%;
    line-height: 1vw;
    font-weight: 300;
}

#right{
    height: 90%;
    width: 33%;
    /* background-color: darkgreen; */
    position: relative;
}

#right-top{
    height: 40px;
    width: 100%;
    /* background-color: darkkhaki; */
    display: flex;
    align-items:center;
    justify-content: space-between;
}
#right-top h5{
    font-size: 14px;
}

#right img{
    height: 93%;
    width: 100%;
    object-fit: cover;
}

@media (max-width:600px) {
    #main{
    height: 100%;
    width: fit-content;
    /* background-color: grey; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 150px;
}
#left{
    height: 100%;
    width: fit-content;
    background-color: darkgoldenrod;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 80px;
}

#left h1{
    font-size: 8vw;
    font-weight: 200;
    line-height: 7vw;
}

#bottom-left{
    /* height: 40%; */
    width: 100%;
    background-color: darkgreen;   
} 
#bottom-left h2{
    margin-top: 70px;
    margin-bottom: 10px;
    font-weight: 800;
}

#bottom-left p{
    width: 50%;
    line-height: 1vw;
    font-weight: 300;
}

#color{
    /* background-color: aqua; */
    width: fit-content;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    border-radius: 50px;
    border: 1px solid black;
}
#color h5{
    font-size: 2vw;
    margin-right: 16px;
}
#color1{
    height: 15px;
    width: 15px;
    background-color: darkred;
    border-radius: 50%;
}
#color2{
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 50%;
}
}
